{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <div class="card">
            <div class="card-body">
              <h4>
                  This is a website which provides a platform for various Clubs present in the college.
                  <br>The clubs can post all the latest updates, details about their events and activites in this site.
                  <br>As this site is Public, it even motivates students who aren't part of the clubs to get to know about the clubs in their college.      
              </h4>
                </div>
          </div>
{% endblock content %}
